html{
  background-color: #ffc100;
  background-image:
    radial-gradient(
      circle at top right,
      yellow,
      #ff9a00 50%
    );
  height: 100%;
  z-index: 1;
}

#title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 13vw;
  margin-bottom:  0px;
  padding: 0px;
  margin-left: 6%;
}

.title-a{
  margin: 0 auto;
  width: 75%;
  margin-bottom:  0px;
  padding: 0px;
}

#text{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 5vw;
  z-index: -1;
}

.eat{
  margin-top: 5%;
  margin-left: 16%;
}

#city-prompt{
  margin: 0 auto;
  width: 40%;

}

input[type=City] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 26%;
}

input[type=submit] {
    width: 3.2vw;
    height: 3.2vw;
    background-color: #CD8CB6;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-top: 0px;
    border-radius: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4vw;
    font-weight: 900;
    text-shadow: 3px 3px 3px #29293d;
}


input[type=submit]:hover {
    background-color: #dbdbdb;
}

.head{
  font-family: 'Open Sans', sans-serif;
  width: 20%;
  margin: 0 auto;
  margin-top: 11%;
}

#city-pick{
  margin: auto;
  width: 80%;
}


/* loading animation */
#load {
    border: 12px solid #ffffff; /* Light grey */
    border-top: 12px solid #ffe700; /* other*/
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 5%;
   /*  w3chools */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
